.hero {
  background-color: #e0e3ef;
  margin-left: 72px;
  width: 100%;
}

h1 {
  font-family: 'poppins';
  font-size: 4.5rem;
  font-weight: 900;
  color: #7b84db;
}

.icon-nav {
  background: transparent;
  border: none;
}

.nav-link {
  margin-bottom: 2rem;
  font-family: 'poppins';
  font-size: 1.5rem;
  color: #f2f2f2;
  &:hover {
    color: #7b84db;
  }
}
.pi-bars {
  font-size: 3.25rem;
  color: #f2f2f2;
  &:hover {
    color: #7b84db;
  }
}
.body-wrapper {
  margin: 0 130px;
}
.develop-card {
  background: lighten(#0f4c81, 10%);
  padding: 4em;
}
.main-cards {
  display: grid;
  grid-gap: 20px;
  margin: 50px 0;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.btn-outline-light {
  border-radius: 35px;
  border-width: 3px;
}
.portfolio-item {
  background-color: #7b84db;
  padding: 2em;
}
.portfolio-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(2, auto);

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

form {
  background-color: #e0e3ef;
}
input,
textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #0f4c81;
  background-color: transparent;
  border-radius: 0;
}
label {
  color: #0f4c81;
}
.btn-block {
  border: 3px solid #0f4c81;
  color: #0f4c81;
  letter-spacing: 0.5rem;
}
